/*esto es por defecto para mobile*/
.sponsor-item-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
}

.sponsor-item-list :nth-child(2n) {
  justify-self: end;
}

/*para desktop*/
@media (min-width: 576px) {
  .sponsor-item-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
  }
}
