.nft-card-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: var(--color-dark-2);
  padding: 32px;
}

.nft-card-with-text.green {
  background-color: var(--color-green);
}

.nft-card-with-text.orange {
  background-color: var(--color-orange);
}

.nft-card-with-text__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nft-card-with-text__text-check-them-out {
  text-decoration: underline;
  font-weight: 500;
}

/*para desktop*/
@media (min-width: 576px) {
  .nft-card-with-text {
    flex-direction: row;
    gap: 48px;
    padding: 48px;
    border-radius: 16px;
  }

  .nft-card-with-text__text {
    max-width: 500px;
  }

  .nft-card-with-text.image-on-right .nft-card-with-text {
    order: 1;
  }

  .nft-card-with-text.image-on-right .nft-card {
    order: 2;
  }
}
